<div class="container create-artist">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        Edit the Artist
      </div>

      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
