<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Artists", artists_path, class: "sidebar-link active" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Your Artists
      </div>
      <div class="panel-body">

        <% @artist.each do |a| %>
        <div class="row">
          <div class="col-md-7">
            <h4><%= link_to a.name.capitalize, a %></h4>
          </div>
          <div class="col-md-3 right">
            <%= link_to "Update", edit_artist_path(a), class: "btn btn-default" %>
          </div>
        </div>
        <% end %>

      </div>
    </div>

    <%= link_to "Add new artist", new_artist_path, class: "btn btn-primary" %>
  </div>
</div>
