<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Have a look at our Greatest artists!</h1>
    <p>
      <%= link_to "Add new Artist", new_artist_path, class: "btn btn-lg btn-primary" %>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">
    <div class="row">
      <% @artist.each do |a| %>
      <div class="card">
        <% if a.photos.exists? %>
        <% image_tag a.photos.first.image.thumbnail, class: 'artist-image' %>
        <% end %>
        <p class="card-text">
          <h4><%= link_to a.name.capitalize, a %></h4>
          <%= link_to "Update", edit_artist_path(a), class: "btn btn-default" %>
          <%= link_to "Delete", artist_path(a), method: :delete, class: "btn btn-default", data: {confirm: "Are you sure?"} %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
