<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
      The wall of Fame for Artists!
      </div>
      <div class="panel-body">

        <% @artist.each do |a| %>
        <div class="row">
          <div class="col-md-7">
            <h4><%= link_to a.name.capitalize, a %></h4>
          </div>
          <div class="col-md-3 right">
            <%= link_to "Update", edit_artist_path(a), class: "btn btn-default" %>
            <%= link_to "Delete", artist_path(a), method: :delete, class: "btn btn-default", data: { confirm: "Are you sure?" }%>
          </div>
        </div>
        <% end %>

      </div>
    </div>
    
    <%= link_to "Add new artist", new_artist_path, class: "btn btn-primary" %>
  </div>
</div>
