<div class="panel panel-primary">
  <div class="panel-heading"><%= @artist.name.capitalize %></div>

  <div class="panel-body">
    <p>Genre: <%= @artist.genre.capitalize %></p>
  </div>

  <div class="panel-body">
    <ul>
      <% @artist.songs.all.each do |song| %>
      <li><%= song.title %></li>
      <% end %>
    </ul>


  </div>

</div>

<%= link_to "Back", artists_path, class: "btn btn-default" %>
