<div class="panel panel-default">
  <div class="panel-heading">
    Edit the Song
  </div>

  <div class="panel-body">
    <%= form_for @song,  :url => url_for(:controller => 'songs', :action => 'update') do |f| %>
    <div class="form-group">
      <label>Title</label>
      <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Year released</label>
      <%= f.number_field :released_year, placeholder: "Year released", class: "form-control" %>
    </div>

    <label>Do you want to add this Song?</label>

    <div class="actions">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
