

<% @artist.songs.all.each do |song| %>
<div class="row">
  <div class="col-md-7">
    <h4><%= link_to song.title, song %></h4>
  </div>
  <div class="col-md-3 right">
    <%= link_to "Update", edit_song_path(song), class: "btn btn-default" %>
  </div>
</div>
<% end %>

</div>
</div>

<%= link_to "Add new Song", new_song_path, class: "btn btn-primary" %>
</div>
</div>
