@import "bootstrap-sprockets";
@import "bootstrap";

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  background: #F7F7F5;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  background-image: url("http://res.cloudinary.com/amiloudi/image/upload/v1517163456/music_npcb9q.jpg");
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
  background-size: 100% 608px;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 100rem;
}

.jumbotron .btn {
  margin-top: 20px;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.artist-image {
  height: 280px;
  width: 100%;
  display: block;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  background: white;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.create-artist {
  margin-top: 20px;
}

.show-artist {
  margin-top: 20px;
}
